.featuredProducts {
  margin: 100px 200px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h1 {
      flex: 2;
      text-transform: capitalize;
    }

    p{
      flex:3;
      color:gray
    }
  }

  .bottom{
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (max-width:650px){
.featuredProducts{
margin: auto;
}
  .top{
   display: flex;
   flex-direction: column;
  }
    .bottom{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
}
